:focus {
	outline: none;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 3px;
}

@media (any-hover: hover) {
	a,
	button {
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}

a:active {
	opacity: 0.5;
}
