.git
.idea
node_modules
build
dist
ftp-data.json
mail-data.php
# *.zip
# tasks.md
.env
# .browserslistrc
# .editorconfig
# .gitignore
# .htmlhintrc
# .prettierrc
# eslint.config.mjs
# gulpfile.js
# issues.md
# package-lock.json
# package.json
# README.md
# webpack.config.js