@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2"),
	url("../fonts/Inter-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"),
	url("../fonts/Inter-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"),
	url("../fonts/Inter-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Kollektif;
	font-display: swap;
	src: url("../fonts/Kollektif-Bold.woff2") format("woff2"),
	url("../fonts/Kollektif-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
	url("../fonts/Montserrat-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
