$container-padding-x: 70;
$container: 1920;
$minWidth: 320;
$font-family: Inter, sans-serif;
$second-family: Montserrat, sans-serif;

$desktop: 1279.98;
$laptop: 1023.98;
$tablet: 767.98;
$mobile: 320.98;

$color-black: #000000;
$color-white: #ffffff;

$color-light-grey: #f6f6f6;
$color-orange-juice: #ff6600;
$color-dark-grey: #2d2d2d;
$color-grey: #808080;
$color-grey2: #c0c0c0;
