@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.header {
	border: 0rem solid red;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-width: rem($minWidth);
	border-bottom-right-radius: fluid(10, 40);
	border-bottom-left-radius: fluid(10, 40);
	background-color: $color-dark-grey;

	&__container {
		@include flex-v-center;
		justify-content: space-between;
		gap: rem(15);
		padding-block: rem(6);
		padding-right: fluid(15, 30);
	}

	&__logo {
		position: relative;
		z-index: 3;

		&-icon {
			width: fluid(140, 251);
		}
	}

	&__nav {
		flex: 1 1 auto;
		padding-left: fluid(0, 90);
	}

	&__contacts {
		position: relative;
		z-index: 3;

		@include flex-v-center;
		gap: fluid(5, 12);

		&-image {
			@include square(rem(40));

			&--phone {
				display: none;

				@include desktop {
					display: block;
				}
			}

			@include tablet {
				@include square(rem(30));
			}
		}

		&-text {
			font-size: fluid(24, 32);
			color: $color-white;

			&--phone {
				@include desktop {
					display: none;
				}
			}
		}

		&-btn {
			position: relative;
			z-index: 3;
			display: none;
			@include square(rem(40));

			@include tablet {
				display: block;
				@include square(rem(30));
			}
		}
	}
}
