@mixin btn() {
	display: inline-block;
	padding: 0 5px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 13px;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

@mixin btn-cross($color: white) {
	position: absolute;

	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $color;
		transition: transform 0.3s ease;
	}

	&::before {
		transform: rotate(90deg);
	}

	&.is-open::after {
		transform: rotate(45deg);
	}

	&.is-open::before {
		transform: rotate(135deg);
	}
}

@mixin burger($color: white) {
	position: relative;
	border: 1px solid $color;
	border-radius: 3px;

	&__line,
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 10%;
		right: 10%;
		height: 2px;
		background-color: $color;
		transition: all 0.3s ease;
	}

	&__line {
		top: 50%;
		transform: translateY(-50%) rotate(0deg);
	}

	&::before {
		top: 5px;
	}

	&::after {
		bottom: 5px;
	}

	&.active {
		.burger {
			&__line {
				display: none;
			}
		}

		&::before,
		&::after {
			top: 50%;
			bottom: auto;
		}

		&::before {
			transform: translateY(-50%) rotate(45deg);
		}

		&::after {
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

@mixin burger-skeleton($color: white) {
	position: relative;
	// height: 100%;
	// width: 100%;

	&__line,
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 5%;
		height: 5%;
		border-radius: 10px;
		background-color: $color;
		transform: rotate(0deg);
		transition: all 0.3s ease;
	}

	&__line {
		width: calc(100% - 6px);
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		top: 6px;
		width: 41%;
	}

	&::after {
		bottom: 6px;
		width: 59%;
	}

	// &.active {
	// 	.burger {
	// 		&__line {
	// 			display: none;
	// 		}
	// 	}

	// 	&::before,
	// 	&::after {
	// 		top: 50%;
	// 		bottom: auto;
	// 		transform: translateY(-50%);
	// 	}

	// 	&::before {
	// 		transform: rotate(45deg);
	// 	}

	// 	&::after {
	// 		transform: rotate(-45deg);
	// 	}
	// }
}
