@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.leadgeneration {
	margin-bottom: fluid(15, 60);

	&__container {
		display: flex;
		gap: fluid(15, 60);
		padding-top: fluid(15, 70);
		padding-right: fluid(20, calc(73 + 70));
		padding-left: fluid(20, calc(149 + 70));

		@include laptop {
			padding-inline: fluid(15, 70);
		}

		@include tablet {
			flex-direction: column;
		}
	}

	&__left {
		flex: 1 1 auto;
	}

	&__title {
		text-align: left;

		&:not(:last-child) {
			margin-bottom: fluid(10, 30);
		}
	}

	&__img {
		&:not(:last-child) {
			margin-bottom: fluid(15, 59);
		}
	}

	&__descr {
		position: relative;
		flex: 1 1 rem(807);
		padding-right: fluid(calc(10 + 37), calc(19 + 57));

		@include tablet {
			padding-right: 0;
			max-height: max-content;
		}

		&::after {
			content: "";
			position: absolute;
			top: rem(-6);
			right: 0;
			@include square(fluid(37, 57));
			background-image: url("@images/leadgeneration/decor.svg");
			background-repeat: no-repeat;
			background-size: cover;

			@include tablet {
				content: none;
			}
		}

		&-text {
			margin: 0;
			margin-bottom: fluid(10, 20);
			line-height: 120%;
		}

		&-btn {
			margin-top: fluid(5, 13);
		}
	}
}
