@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.questions {
	margin-bottom: fluid(15, 60);

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: fluid(10, 20) fluid(5, 25);
	}

	&__title {
		grid-column: span 2;

		.subtitle__text {
			margin-right: fluid(0, 110);
		}
	}

	&__list {
		@include tablet {
			order: 1;
			grid-column: span 2;
		}

		&.accordion {
			.ac {
				margin: 0;
				border: none;

				&:hover {
					.ac {
						&-trigger {
							border-color: $color-orange-juice;

							&::before,
							&::after {
								background-color: $color-orange-juice;
							}
						}
					}
				}

				&:not(:last-child) {
					margin-bottom: fluid(10, 22);
				}

				&-trigger {
					padding: fluid(10, 43);
					padding-right: fluid(40, 100);
					border: 1px solid transparent;
					border-radius: fluid(5, 30);
					font-family: $font-family;
					font-size: fluid(16, 24);
					line-height: 120%;
					font-weight: 400;
					color: $color-dark-grey;
					background-color: $color-light-grey;
					opacity: 1;

					&::before,
					&::after {
						position: absolute;
						content: "";
						top: 50%;
						right: fluid(20, 41);
						@include square(fluid(10, 46));
						height: 3px;
						width: fluid(20, 46);
						background-color: $color-dark-grey;
						transform: translateY(-50%);
						transition: transform 0.3s linear;
					}

					&::after {
						transform: translateY(-50%) rotate(90deg);
					}
				}

				&-panel {
					border-radius: fluid(5, 30);
					background-color: $color-light-grey;

					.ac {
						&-text {
							padding: 0;
							padding-block: fluid(5, 20);
							padding-inline: fluid(10, 40);
							font-family: $font-family;
							font-size: fluid(16, 24);
							line-height: 120%;
							font-weight: 400;

							&:first-child {
								padding-top: fluid(10, 40);
							}

							&:last-child {
								padding-bottom: fluid(10, 40);
							}
						}
					}
				}

				&.is-active {
					.ac {
						&-header {
							margin-bottom: fluid(5, 20);
						}
					}
					.ac-trigger {
						border-color: $color-grey;

						&::before {
							content: "";
							transform: translateY(-50%) rotate(180deg);
						}

						&::after {
							content: "";
							transform: translateY(-50%) rotate(180deg);
						}
					}
				}
			}
		}
	}

	&__img {
		mask-image: url("@images/questions/questions-mask.svg");
		mask-repeat: no-repeat;
		mask-size: cover;

		@include tablet {
			grid-column: span 2;
		}
	}
}
