@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.reviews {
	margin-bottom: fluid(15, 61);

	&__container {
		@include flex-col;
		align-items: center;
		padding-top: fluid(15, 59);
	}

	&__descr {
		max-width: rem(800);

		&:not(:last-child) {
			margin-bottom: fluid(15, 38);
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: fluid(10, 20);
		margin-bottom: fluid(10, 40);

		@include laptop {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet {
			grid-template-columns: 1fr;
		}

		.review {
			@include flex-col;
			gap: fluid(10, 20);
			padding: fluid(10, 40);
			padding-right: fluid(10, 39);
			padding-bottom: fluid(10, 43);
			border-radius: fluid(15, 30);
			font-size: fluid(14, 24);
			background-color: $color-light-grey;

			&__rate {
				$stars: 5;

				@include flex-v-center;
				justify-content: space-between;
				gap: rem(5);
				font-family: $second-family;
				font-size: fluid(8, 36);
				line-height: 144%;
				font-weight: 700;

				@include desktop {
					justify-content: flex-start;
				}

				&-stars {
					@include flex-v-center;
					gap: rem(6);
					max-width: 80%;
				}

				&-star {
					width: fluid(20, 49);
					max-width: calc((100% - rem(($stars - 1) * 6)) / $stars);
				}
			}

			&__text {
				margin: 0;
				line-height: 121%;
			}

			&__direction {
				margin: 0;
				color: $color-grey;
			}
		}
	}

	&__videos {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: fluid(10, 20);
		width: 100%;

		@include laptop {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet {
			grid-template-columns: 1fr;
		}

		&-item {
			border-radius: fluid(10, 40);

			&:nth-child(3n) {
				@include laptop {
					grid-column: span 2;
				}

				@include tablet {
					grid-column: span 1;
				}
			}
		}

		.video {
			&__player {
				width: 100%;
				border-radius: fluid(10, 40);
				overflow: hidden;

				&:not(:last-child) {
					margin-bottom: rem(12);
				}

				video {
					min-height: fluid(200, 320);
					width: 100%;
				}
			}

			&__signature {
				margin: 0;
			}
		}
	}
}
