@use "../../variables" as *;
@use "../../functions/" as *;
@use "../../mixins/" as *;

.services {
	margin-bottom: fluid(15, 61);

	&__container {
		@include flex-col;
		align-items: center;
		gap: fluid(10, 20);
		padding-top: fluid(15, 60);
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: fluid(10, 20);
		width: 100%;

		@include tablet {
			flex-direction: column;
		}
	}

	&__item {
		width: 100%;
		max-width: rem(730);
		border-radius: fluid(10, 40);
		background-color: $color-light-grey;
	}

	.service {
		@include flex-col;
		padding: fluid(10, 40);
		background-image: url("@images/services/services-decor.svg");
		background-repeat: no-repeat;
		background-position: calc(100% - fluid(10, 40)) fluid(10, 40);

		&__title {
			margin: 0;
			max-width: rem(500);
			font-family: $second-family;
			font-size: fluid(16, 36);
			line-height: 117%;
			font-weight: 700;

			&:not(:last-child) {
				margin-bottom: fluid(5, 21);
			}
		}

		&__cost {
			display: flex;
			align-items: center;
			gap: fluid(5, 12);
			font-size: fluid(14, 24);

			&:not(:last-child) {
				margin-bottom: fluid(10, 31);
			}

			&-value {
				font-family: $second-family;
				font-size: fluid(16, 36);
				font-weight: 700;
				background: linear-gradient(
					90deg,
					#f60 0%,
					#f26659 27.4%,
					#f06177 37.4%,
					#e55d97 48.4%,
					#ca46d2 71.4%,
					#8d13f9 100%
				);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&__btn {
			margin-top: auto;
		}
	}
}
